<div class="container">
	<div class="navbar">
		<div class="nav-name"><img src="assets/jubil_logo.png" /></div>
		<div class="navTop">
			<ul id="nav">
				<li><a href="#contact">CONTACT</a></li>
				<li><a href="#group6">TEAM</a></li>
				<li><a href="#group4">PORTFOLIO</a></li>
				<li><a href="#group3" id="about">ABOUT</a></li>
				<li><a href="#group2">HOME</a></li>
			</ul>
		</div>
	</div>
  <div class="parallax">
    <div id="group2" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="hometxt twelve columns"><img src="assets/bold&beautiful.png" /></div>
      </div>
      <div class="parallax__layer parallax__layer--back">

      </div>
    </div>
    <div id="group3" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
      	<div class="aboutmewrapper">
			<div class="aboutus">about us</div>
			<div class="about-txt">Jubil is more than just a fullstack website design and development company. We focus on taking you, the customer, through the entire website creation process from start to finish, in order to ensure you walk away from your experience with us feeling happy and fulfilled. We provide services in the following areas:</div>
			<div class="row">
				<div class="process-logo four columns">
					<img src="assets/strategy.png" /><div class="process-header">strategy</div><div class="process-desc">A purpose driven life is one worth living, and a purpose driven software development process produces worthwhile results. Understanding your target market from the outset is integral to creating successful solutions. Our Marketing Strategy and Brand Development skills will help you build your idea's identity from the ground up.</div>
				</div>
				<div class="process-logo four columns">
					<img src="assets/design.png" /><div class="process-header">design</div><div class="process-desc">Great Design keeps user intention and experience in mind. After working together with you through an intimate and iterative design process we promise to produce a curated look and feel for your vision.</div>
				</div>
				<div class="process-logo four columns">
					<img src="assets/dev.png" /><div class="process-header">development</div><div class="process-desc">We turn your dreams into realities using our web development expertise. From seamless UI to organized data management systems, we bring your software to life! If you're wondering whether something is possible or not, please don't hesitate to ask. We'll make it happen.</div>
				</div>
			</div>
		</div>
      </div>
    </div>
    <div id="group4" class="parallax__group">
      <div class="parallax__layer parallax__layer--base">
        <div class="portfolio-section-header">PORTFOLIO</div>
      </div>
      <div class="parallax__layer parallax__layer--back">
      </div>
      <div class="parallax__layer parallax__layer--deep">
      </div>
    </div>
    <div id="group5" class="parallax__group">
      	<div class="parallax__layer parallax__layer--base">
      		<div class="portfolio-title">PORTFOLIO</div>
      		<div class="portfolio-wrapper">
      			<div class="row">
					<a href="https://ilizwilam.herokuapp.com" class="one-half column portfolio-img-1 fade"></a>
					<a href="http://greenstogrounds.com/" class="one-half column portfolio-img-2 fade"></a>
				</div>
				<div class="row">
					<a href="http://jzimmerman95.github.io/Moonlighting-Landing-Page/" class="one-half column portfolio-img-3 fade"></a>
					<a href="http://choosinggreen.me/" class="one-half column portfolio-img-4 fade"></a>
				</div>
	    	</div>
      	</div>
    </div>
    <div id="group6" class="parallax__group">
      	<div class="parallax__layer parallax__layer--back">
      	</div>
      	<div class="parallax__layer parallax__layer--base">
        	<div class="contact-section-header">TEAM</div>
      	</div>
    </div>
    <div id="group7" class="parallax__group">
      	<div class="parallax__layer parallax__layer--base">
      		<div class="team-wrapper">
      			<div class="team-header">Partners</div>
	      		<div class="row">
	      			<div class="six columns">
	      				<div class="team-pic"><img src="assets/me.png" /></div>
	      				<div class="team-name">Jessica Zimmerman</div>
	      				<div class="team-desc">University of Virginia 3rd Year, Computer Science and Business double major. Loves cultivating playlists, eating food, and tasteful color palettes.</div>
	      			</div>
	      			<div class="six columns">
	      				<div class="team-pic"><img src="assets/gabe.png" /></div>
	      				<div class="team-name">Gabriel Corso</div>
	      				<div class="team-desc">Dartmouth College 3rd Year, Computer Science and Neuroscience double major. Loves jamming on the bass, petting mastiffs, and the great outdoors.</div>
	      			</div>
	      		</div>
	      	</div>
	      	<div class="contact-wrapper" id="contact">
		  		<div class="contact-header">CONTACT</div>
		  		<div class="contact-body">Let's make your dreams a reality.</div>
		  		<form action="/welcome" class="contact-form" method="post" accept-charset="utf-8">
		  			<div class="row">
						<input class="six columns" type="text" name="first_name" id="first_name" placeholder="first name">
						<input class="six columns" type="text" name="last_name" id="last_name" placeholder="last name">
					</div>
					<div class="row">
						<input class="six columns" type="text" name="company" id="company" placeholder="company">
						<input class="six columns" type="text" name="email" id="email" placeholder="email address">
					</div>
					<div class="row">
						<input class="six columns" type="text" name="phone" id="phone" placeholder="phone number">
					</div>
					<div class="row">
						<input class="twelve columns" type="text" name="message" id="message" placeholder="message"></input>
					</div>
					<div class="submit-btn"><input type="image" value="Submit" src="assets/submit.png"></div>
				</form>
		  	</div>
    	</div>
  	</div>
</div>