/*****************************************
				FONTS
*****************************************/

@font-face {
    font-family: VegurLight;
    src: url("Vegur-Light.otf");
}

@font-face {
    font-family: VegurRegular;
    src: url("Vegur-Regular.otf");
}

@font-face {
    font-family: VegurBold;
    src: url("Vegur-Bold.otf");
}

@font-face {
	font-family: OverlockRegular;
	src: url("Overlock-Regular-OTF.otf");
}

@font-face {
	font-family: OverlockBold;
	src: url("Overlock-Bold-OTF.otf");
}

/*****************************************
			GENERAL STYLING
*****************************************/

body, html {
    overflow: hidden;
    width: 100%;
}

body {
    font-family: VegurLight;
    margin-bottom: 0;
}

* {
    margin:0;
    padding:0;
}

.parallax {
	font-size: 200%;
}

/*****************************************
			   NAVIGATION
*****************************************/
.navbar {
	position: fixed;
	z-index: 10;
	width: 100%;
/*	background-color: rgba(0,0,0,0.2);
*/}
.nav-name{
	float: left;
	margin: 10px 0px 10px 50px;
}
.navTop{
	float: right;
}
ul#nav{
	margin: 15px 10px 0px 0px;
	list-style: none;
}
ul#nav li {
	float: right;
	margin: 0 20px;
	margin-top: 5px;
	text-decoration: none;
}
ul#nav li a {
	text-decoration: none;
	color: black;
	font-family: VegurRegular;
	font-size: 1.3em;
}
ul#nav li a:hover {
	text-decoration: none;
	color: rgb(38, 153, 218);
}

/*****************************************
		PARALLAX SECTION CONTENT
*****************************************/	
.hometxt {
	position: absolute;
	font-family: VegurBold;
	font-size: 2.8em;
	line-height: 30px;
	text-align: right;
	margin-left: 72.9166%;
	z-index: 0;
}

.hometxt img {
	margin-top: 30px;
}

/************ ABOUT ME **************/
.aboutmewrapper {
	width: 70%;
	margin: 0 auto;
}

.aboutus {
	font-family: VegurBold;
	font-size: 1em;
	text-align: center;
	padding-top: 70px;
}

.about-txt {
	font-family: VegurLight;
	font-size: 0.7em;
	padding-top: 20px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 100px;
}

.process-logo img{
	display: block;
	margin: 0 auto;
}

.process-header {
	font-size: 0.8em;
	font-family: VegurRegular;
	text-align: center;
	padding-top: 20px;
}

.process-desc {
	font-size: 0.6em;
	text-align: center;
	padding-top: 5px;
}

/************ PORTFOLIO **************/

.portfolio-section-header {
	color: white;
	font-family: VegurBold;
	text-align: center;
	padding-top: 150px;
	font-size: 2em;
}

.portfolio-wrapper {
	width: 60%;
	margin: 0 auto;
}

.portfolio-title {
	font-family: VegurLight;
	font-size: 0.8em;
	text-align: center;
	margin-top: 80px;
}

.portfolio-img-1 {
	background: url("https://s3.amazonaws.com/jubil/ilizwilam.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center; 
	height: 250px;
	margin-top: 50px;
	box-shadow: 10px 10px 25px #cccccc;
}

.portfolio-img-2 {
	background: url("https://s3.amazonaws.com/jubil/g2g.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center; 
	height: 250px;
	margin-top: 50px;
	box-shadow: 10px 10px 25px #cccccc;
}

.portfolio-img-3 {
	background: url("https://s3.amazonaws.com/jubil/moonlighting.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center; 
	display: inline-block;
	height: 250px;
	margin-top: 50px;
	box-shadow: 10px 10px 25px #cccccc;
}

.portfolio-img-4 {
	background: url("https://s3.amazonaws.com/jubil/choosinggreen.png");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center; 
	display: inline-block;
	height: 250px;
	margin-top: 50px;
	box-shadow: 10px 10px 25px #cccccc;
}

.fade {
   opacity: 0.9;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

.fade:hover {
    opacity: 1;
}

/************ TEAM **************/

.team-wrapper {
	width: 70%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.team-header {
	text-align: center;
	margin-top: 70px;
}

.team-pic {
	margin-top: 20px;
}

.team-pic img {
	display: block;
	margin: 0 auto;
}

.team-name {
	font-size: 0.8em;
	font-family: VegurRegular;
	text-align: center;
	margin-top: 30px;
}

.team-desc {
	font-size: 0.7em;
	text-align: center;
	margin-top: 10px;
}

.contact-section-header {
	color: black;
	font-family: VegurBold;
	text-align: center;
	padding-top: 150px;
	font-size: 2em;
}

.contact-info {
	font-family: VegurLight;
	font-size: 0.7em;
	margin-top: 100px;
	text-align: center;
}

.contact-logo-wrapper {
	padding-left: 25px;
	width: 20%;
	margin: 0 auto;
}

.contact-icon {
	background-repeat:no-repeat;
	background-size: contain;
	background-position: center;
	height: 50px;
	width: 50px;
	margin-top: 40px;
}

.linkedin {
	background-image: url("linkedin.ico");
}

.github {
	background-image: url("github.ico");
}

.behance {
	background-image: url("behance.ico");
}

.twitter {
	background-image: url("twitter.ico");
}


/************ CONTACT **************/

.contact-wrapper {
	background-color: #eee;
}

.contact-header {
	text-align: center;
	padding-top: 50px;
	font-family: VegurBold;
}

.contact-body {
	text-align: center;
	padding-top: 30px;

}

.contact-form {
	width: 70%;
	margin: 0 auto;
	padding-top: 30px;
}

input[type="text"] {
	font-size: 0.7em;
	height: 50px;
}

.submit-btn {
	width: 170px;
	margin: 0 auto;
	padding-bottom: 50px;
}

textarea {
	width: 100%;
	height: 200px;
	resize: none;
	font-size: 0.7em !important;
}

/*****************************************
			   PARALLAX
*****************************************/

.parallax {
/*    height: 500px;  fallback for older browsers 
    height: 800px;*/
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.parallax__group {
    position: relative;
/*    height: 500px;  fallback for older browsers 
    height: 800px;*/
    height: 100vh;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.parallax__layer--fore {
    -webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
    z-index: 1;
}

.parallax__layer--base {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 4;
}

.parallax__layer--back {
    -webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
    z-index: 3;
}

.parallax__layer--deep {
    -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
    z-index: 2;
}

/*****************************************
			PARALLAX GROUPS
*****************************************/
#group2 {
	z-index: 3; /* slide under groups 1 and 3 */
}
#group2 .parallax__layer--back {
	background-image: url("https://s3.amazonaws.com/jubil/paint.jpg");
	background-repeat:no-repeat;
	background-size: cover;
	background-position: center; 
}

#group3 {
	z-index: 4; /* slide over group 2 and 4 */
	height: 850px;
}
#group3 .parallax__layer--base {
	background: white;
}

#group4 {
	z-index: 2; /* slide under group 3 and 5 */
	height: 400px;
}
#group4 .parallax__layer--deep {
	background-image: url("https://s3.amazonaws.com/jubil/productivity.jpg"); 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 900px;
}
#group4 .parallax__layer--base {

}

#group4 .parallax__layer--back {
}

#group5 {
	z-index: 3; /* slide over group 4 and 6 */
	height: 850px;
}
#group5 .parallax__layer--base {
	background-color: white;
}

#group6 {
	z-index: 2; /* slide under group 5 and 7 */
	height: 400px;
}
#group6 .parallax__layer--back {
	background-image: url("https://s3.amazonaws.com/jubil/contact.jpg"); 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 600px;
  	margin-top: -100px;
}

#group7 {
	z-index: 3; /* slide over group 7 */
	height: 600px;
}
#group7 .parallax__layer--base {
	background: white;
}

/*****************************************
			MEDIA QUERIES
*****************************************/
/* Larger than mobile */
@media (min-width: 320px) and (max-width: 399px) {
	.hometxt {
		font-size: 2.8em;
		line-height: 100px;
		margin-left: 0px;
		margin-top: 230px;
	}

	.hometxt img {
		width: 280px;
	}

	.aboutmewrapper {
		width: 90%;
	}

	.portfolio-wrapper {
		width: 80%;
	}

	.navTop {
		display: none;
	}

	.nav-name {
		width: 50px;
	}

	.process-logo img {
		width: 150px;
	}

	#group3 {
		height: 2000px;
	}

	#group5 {
		height: 1450px;
	}
}


@media (min-width: 400px) and (max-width: 549px) {
	.hometxt {
		font-size: 2.8em;
		line-height: 100px;
		margin-left: 0px;
		margin-top: 230px;
	}

	.hometxt img {
		width: 350px;
	}

	.aboutmewrapper {
		width: 90%;
	}

	.portfolio-wrapper {
		width: 80%;
	}

	.navTop {
		display: none;
	}

	.nav-name img {
		width: 75px;
	}

	.process-logo img {
		width: 150px;
	}

	#group3 {
		height: 1800px;
	}

	#group5 {
		height: 1450px;
	}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) and (max-width: 749px) {
	.hometxt {
		font-size: 2.8em;
		line-height: 100px;
		margin-top: 180px;
	}

	.hometxt img {
		width: 400px;
	}

	.aboutmewrapper {
		width: 90%;
	}

	.portfolio-wrapper {
		width: 80%;
	}

	ul#nav li {
		font-size: 1.2em;
		margin-top: 5px;
		margin: 0 20px;
	}

	ul#nav li {
		margin: 0 5px 0px 5px;
	}

	ul#nav li a {
		text-decoration: none;
		color: black;
		font-family: VegurRegular;
		font-size: 0.9em;
	}

	.process-logo img {
		width: 150px;
	}

	#group3 {
		height: 1200px;
	}

	#group7 {
		height: 700px;
	}

}

/* Larger than tablet */
@media (min-width: 750px) and (max-width: 999px) {
	.hometxt {
		font-size: 2.8em;
		line-height: 100px;
		margin-top: 180px;
	}

	.hometxt img {
		width: 450px;
	}

	ul#nav li a {
		text-decoration: none;
		color: black;
		font-family: VegurRegular;
		font-size: 1em;
	}

	.aboutmewrapper {
		width: 80%;
	}

	.portfolio-wrapper {
		width: 80%;
	}
	ul#nav li a {
		margin: 15px 5px 0px 0px;
	}

	#group3 {
		height: 1100px;
	}

	#group7 {
		height: 700px;
	}

}

/* Larger than desktop */
@media (min-width: 1000px) and (max-width: 1199px) {
	.hometxt {
		font-size: 2.8em;
		line-height: 100px;
		margin-top: 170px;
	}

	ul#nav li a {
		text-decoration: none;
		color: black;
		font-family: VegurRegular;
		font-size: 1.3em;
		margin: 15px 5px 0px 0px;
	}

	.aboutmewrapper {
		width: 80%;
	}

	#group3 {
		height: 920px;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	.aboutmewrapper {
		width: 75%;
	}

	.hometxt {
		font-size: 2.8em;
		line-height: 100px;
		margin-top: 180px;
	}

	ul#nav li a {
		text-decoration: none;
		color: black;
		font-family: VegurRegular;
		font-size: 1.3em;
		margin: 15px 5px 0px 5px;
	}
}